h1 {
  font-family: pt_serifbold_italic, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
}

p {
  font-family: Roboto-Blackitalic, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

a {
  font-style: normal;
  font-family: Roboto-Blackitalic, itarial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

button { color: pink; }

.wraper {
  margin: auto;
  width: 80%;
}

body { margin: 0; }

.header {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;
  font-style: normal;
}

.menu {
  display: flex;
  align-items:center;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}

.menu__item {
  margin: 0 13px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  position: relative;
  transition: opacity 0.5s;
}

.menu__item:last-child { margin-right: 0; }

.menu__item:hover { opacity: 0.5; }

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
  border-radius: 60%;
}

.main__title {
  margin: 0 0 40px 0;
  margin-top: 40px;
  font-family: PT Serif, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
}

.main__subtitle { 
  margin: 0 0 41px 0;
  margin-bottom: 41px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.main {
  padding-right: 63%;
  background: top right no-repeat url('img/mainimg.svg');
  padding: 0 63% 200px 0;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__button { 
  padding: 14px 16px;
  background: #0056ec;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  border-radius: 4px;
}

.main__button:hover {
  opacity: 0.5;
  transition: opacity 0.5s
}