h1 {
  color: green;
  font-family: 'Courier Prime', monospace;
}

p {
  font-family: 'Courier Prime', monospace;
  font-family: 'Merriweather', serif;
}

a {
  font-family: 'Courier Prime', monospace;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Merriweather', serif;
}

button  { color: pink;
}