h1 {
  color: green;
  font-family: 'Courier Prime', monospace;
}

p {
  font-family: 'Courier Prime', monospace;
  font-family: 'Merriweather', serif;
}

a {
  font-family: 'Courier Prime', monospace;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Merriweather', serif;
}

button { color: pink; }

.wraper {
  margin: auto;
  width: 80%;
}

body { margin: 0; }

.header {
  //padding: 40px 0;
  display:flex;
  justify-content:space-between;

}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font:bold 24px/32px pt_serif;
  //width: 190px;
  //height: 35px;
  //background: url(img/logo.svg);
}

.menu {
  display: flex;
  align-items:center;
}

.menu__item { padding: 0 13px; }

.menu__item:last-child { padding-right: 0; }

.logo__circle {
  width: 28px;
  height: 28px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: #0056EC;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
}